.row {

    // .Component{
    //     color: white;
    //     background-color: black;
    //     padding-top: 40px;
    //     text-align: center;
    // }

    // button {
    //     width: 80px;
    //     height: 30px;
    //     background-color: #fff;
    //     color: #000;
    //     border: 2px solid green;
    // }

    .monster_name {
        text-align: center;

        h1 {
            font-family: 'Bigelow Rules';
            font-size: 72px;
            color: #0ccac4;
        }
    }
}